@inherits LayoutComponentBase
@inject IIdentityService auth
<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar bg-white shadow">
                <NavMenu />
            </div>

            <div class="main">
                <div class="top-row px-4 bg-dark shadow text-white">
                    <WatcherCheckComponent />
                    Hi @context.User.Identity.Name
                    <a @onclick="auth.Logout" target="_blank" class="ml-md-auto">Log out</a>
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>
        <NotificationComponent />
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>
