@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.table {
    table-layout: fixed;
}
.sk-wave-container {
    display: flex;
    justify-content: center;
}
.sk-wave {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 50vh;
}

.sk-wave-rect {
    background-color: #000;
    height: 100%;
    width: 15%;
    animation: sk-wave 1.2s infinite ease-in-out;
}

    .sk-wave-rect:nth-child(1) {
        animation-delay: -1.2s;
    }

    .sk-wave-rect:nth-child(2) {
        animation-delay: -1.1s;
    }

    .sk-wave-rect:nth-child(3) {
        animation-delay: -1.0s;
    }

    .sk-wave-rect:nth-child(4) {
        animation-delay: -0.9s;
    }

    .sk-wave-rect:nth-child(5) {
        animation-delay: -0.8s;
    }

@keyframes sk-wave {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1);
    }
}