<table class="table shadow">
    <thead class="table-dark">
        <tr>
            <th class="align-middle first-column">
                #
            </th>
            <th class="align-middle w-auto">Username</th>
            <th class="align-middle w-auto">System</th>
            <th class="align-middle date-column">Date</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@code {

}
