@page "/bugs"

<table class="table shadow">
    <thead class="table-dark">
        <tr>
            <th class="align-middle first-column">
                <BugFiltrComponent></BugFiltrComponent>
            </th>
            <th class="align-middle w-auto">Message</th>
            <th class="align-middle w-25">System</th>
            <th class="align-middle date-column">Date</th>
        </tr>
    </thead>
    <tbody>
        
    <Virtualize ItemsProvider="LoadBugs" Context="bug" ItemSize="100" OverscanCount="10">
        <ItemContent>
            <tr>
                <td>@bug.Id</td>
                <td>@bug.Message</td>
                <td>@bug.System</td>
                <td>@bug.Date</td>
            </tr>
        </ItemContent>
        <Placeholder>
            <p>Loading bugs...</p>
        </Placeholder>
    </Virtualize>
    </tbody>
</table>
