@page "/bugs"

<table class="table shadow">
    <thead class="table-dark">
        <tr>
            <th class="align-middle first-column">
                <BugFiltrComponent></BugFiltrComponent>
            </th>
            <th class="align-middle w-auto">Message</th>
            <th class="align-middle w-25">System</th>
            <th class="align-middle date-column">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>Message</td>
            <td>System</td>
            <td>@DateTime.Now</td>
        </tr>
        <tr>
            <th>2</th>
            <td>Message</td>
            <td>System</td>
            <td>@DateTime.Now</td>
        </tr>
    </tbody>
</table>

@code {

}
