@page "/login"
@layout LoginLayout
@attribute [AllowAnonymous]

<div>
    <div class="login-left-col shadow-lg bg-dark">
        <div class="text-center text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dashboard" width="256" height="256" viewBox="0 0 24 24" stroke-width="1.25" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="12" cy="13" r="2"></circle>
                <line x1="13.45" y1="11.55" x2="15.5" y2="9.5"></line>
                <path d="M6.4 20a9 9 0 1 1 11.2 0z"></path>
            </svg>
            <h1>Dashboard</h1>
        </div>
    </div>
    <div class="login-right-col">
        <div class="p-5">
            <EditForm Model="this" OnValidSubmit="OnValidLogin">
                <DataAnnotationsValidator />
                <!--<Microsoft.AspNetCore.Components.Forms.ValidationSummary />-->
                <div class="form-group w-25">
                    <label>User Name</label>
                    <p><ValidationMessage For="@(() => this.Username)" /></p>
                    <input type="text" class="form-control shadow" placeholder="User Name" @bind-value="Username">
                </div>
                <div class="form-group w-25">
                    <label>Password</label>
                    <p><ValidationMessage For="@(() => this.Password)" /></p>
                    <input type="password" class="form-control shadow" placeholder="Password" @bind-value="Password">
                </div>
                <button type="submit" class="btn btn-dark mt-3 shadow">Login</button>
                @if (!string.IsNullOrEmpty(ErrorMessage))
                {
                    <div class="alert alert-danger w-25" role="alert">
                        @ErrorMessage
                    </div>
                }
            </EditForm>
            <p class="text-secondary">Username: Dashboard ; Password: securePassword</p>
        </div>
    </div>
</div>

