<div class="dropdown">
    <button type="button" class="btn btn-outline-light btn-sm" @onclick="ToggleDropdown">
        Filtr @if (!HasItems)
        {
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-filter-off" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <line x1="3" y1="3" x2="21" y2="21"></line>
                <path d="M9 5h9.5a1 1 0 0 1 .5 1.5l-4.049 4.454m-.951 3.046v5l-4 -3v-4l-5 -5.5a1 1 0 0 1 .18 -1.316"></path>
            </svg>
        }
        else
        {
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-filter" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5.5 5h13a1 1 0 0 1 .5 1.5l-5 5.5l0 7l-4 -3l0 -4l-5 -5.5a1 1 0 0 1 .5 -1.5"></path>
            </svg>
        }
    </button>
    <ul class="dropdown-menu dropdown-menu-dark @CssClass">
        <EditForm Model="this" OnValidSubmit="FiltrSubmit">
            @foreach (var item in FilteringList)
            {
                var idString = "filtr-" + item.Id;
                <li class="dropdown-item text-white">
                    <InputCheckbox id="@idString" class="form-check-input" type="checkbox" @bind-Value="item.Value"></InputCheckbox>
                    <label class="form-check-label" for="@idString">
                        @item.Key
                    </label>
                </li>
            }
            <button class="btn btn-sm btn-dark" type="submit">Filtr</button>
        </EditForm>
    </ul>
</div>
