<div class="toast-container bottom-right">
    @if (Notifications is not null)
    {
        foreach (var toast in Notifications)
        {
            <div @onclick="@(() => Remove(toast.Id))"
                 class="toast info animated  fadeInRight"
                 style="display:flex">
                @toast.Message
                <div class="progress progress-animated" style="animation-duration: 8s;"></div>
            </div>
        }
    }
</div>

